<% include partials/header.ejs %>
    <h1>users data from Database</h1>

    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>UserName</th>

      </tr>
      <% users.forEach(function(user){ %>
        <tr>
          <td><%= user._id %></td>
          <td><%= user.username %></td>

          </tr>
       <% }) %>
       </table>
<% include partials/footer.ejs %>
